// button
$button: ".all-button a";
$heading: ".site-header";
$spacing: ".padding-spacing";
$bt: ".bt";
$bb: ".bb";
$bg: ".bg";
$page: ".banner__page";
$popup: ".register";
$pagination: ".pagination";

#{$button} {
    background: $blue;
    padding: 12px 20px !important;
    color: $white;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 4px;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.6s ease-in-out;
    &:hover {
        background: $blue-hover;
    }
}

#{$heading} {
    margin: 0 13rem;
    margin-bottom: 2rem;
    text-align: center;
    h2 {
        // text-transform: capitalize;
        font-weight: 500;
    }
    p {
        margin-top: 0px;
        margin-bottom: 0;
        font-size: 17px;
    }
}

#{$spacing} {
    padding: 40px 0;
}

#{$bt} {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#{$bb} {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#{$page} {
    .banner__block {
        min-height: 325px;
        display: flex;
        align-items: center;
        .banner__content {
            text-align: left;
            h2 {
                color: #fff;
                font-size: 46px;
                font-weight: 700;
                margin-bottom: 5px;
            }
            nav {
                ol {
                    margin: 0;
                    padding: 0;
                    li,
                    a {
                        color: #fff;
                        font-weight: 600;
                        font-size: 16px;
                    }
                    li {
                        &::before {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &.virtual {
        background: $bg-color url("../../img/event/banner.webp") no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        min-height: 325px;
        &::before {
            position: absolute;
            content: "";
            // background: rgba(20, 106, 23, .9);
            background: linear-gradient(to right, #146a17, #146a176b);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .virtual__wrap {
            color: $white;
            position: relative;
            .virtual__caption {
                margin-top: 0;
                margin-bottom: 0;
                h1 {
                    color: $white;
                }
                p {
                    color: $white;
                    margin-bottom: 10px;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        margin-right: 1.5rem;
                        list-style: none;
                        font-size: 14px;
                        i {
                            margin-right: 7px;
                            color: $white;
                        }
                    }
                }
            }
            .virtual__rate__info {
                display: flex;
                align-items: center;
            }
            .virtual__review {
                strong {
                    color: $white;
                }
            }
            .virtual__right {
                color: $black;
                background-color: $white;
                padding: 12px 12px 12px 12px;
                box-shadow: 1px 3px 6px rgb(36, 36, 37);
                .virtual__right__header {
                    padding: 0.7rem 1rem 0.7rem 2rem;
                    border-bottom: 1px solid #e7eff9;
                    text-align: center;
                    h4 {
                        color: $black;
                    }
                }
                form {
                    .form-control {
                        height: 35px;
                        border-radius: 4px;
                        padding: 0.5rem 0.75rem;
                    }
                    select {
                        height: calc(2.25rem + 2px) !important;
                    }
                    .all-button {
                        text-align: center;
                        a {
                            display: block;
                            padding: 12px 14px !important;
                        }
                    }
                }
            }
        }
    }
    .container {
        position: relative;
    }
    .custom--enquiry {
        min-height: 325px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .custom--enquiry--block {
            padding: 3.5rem;
            background: rgba(20, 104, 23, .5);
            text-align: center;
            border-radius: 12px;
            p {
                color: #fff;
                padding-bottom: 0.5rem;
                font-size: 17px;
            }
        }
    }
}

#{$popup} {
    .modal-dialog {
        max-width: 400px;
        .modal-content {
            .user-icon {
                position: absolute;
                top: -8%;
                border-radius: 50%;
                left: 45%;
                height: 50px;
                width: 50px;
                background: $yellow;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    font-size: 30px;
                    color: $white;
                }
            }
            .modal-body {
                padding: 1.5rem;
                text-align: center;
                .contact__form {
                    h4 {
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                    }
                    .form-group {
                        margin-bottom: 1.25rem;
                    }
                }
            }
        }
    }
    &.forget {
        .modal-header {
            padding: 18px 16px 18px 18px;
            justify-content: center;
            margin-top: 22px;
        }
        .modal-body {
            padding: 18px 16px 18px 18px !important;
            .contact__form {
                h4 {
                    margin: 0 0 1rem !important;
                    font-size: 18px;
                }
            }
        }
        .modal-footer {
            padding: 18px 16px 18px 18px;
            .all-button {
                button {
                    background: #325fb7;
                    padding: 0.375rem 0.75rem !important;
                    color: #fff;
                    text-transform: capitalize;
                    border-radius: 4px;
                    text-decoration: none;
                    font-weight: normal;
                    -webkit-transition: all 0.6s ease-in-out;
                    transition: all 0.6s ease-in-out;
                }
            }
        }
    }
}

#{$pagination} {
    margin: 0;
    li {
        margin: 0;
        &.active {
            span {
                background-color: $blue !important;
                border-color: $blue !important;
            }
        }
        a {
            color: $blue !important;
        }
    }
}
