$white: #fff;

$black: #42414b;
$paragraph: #767474;

// $blue: #325FB7;
$blue: #45B34A;
$blue-hover: #146a17;


$badge-color: #fff;


$yellow: #45B34A;

$bg-color: #f0faf2;

// font-family

// $font-body: 'Lato', sans-serif;
$font-body:  'Nunito', sans-serif;;
